{% extends 'matching/layoutApli.twig' %}
{% block titre %}Quel est ton objectif ?{% endblock %}
{% block titre_span %}Choisi ton objectif principal{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-xl-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="{{ ColClass }}">
                <a href="?choix=perf" class="{{ BouttonClass }}"><i class="icon-graph"></i>Améliorer mes performances</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=muscle" class="{{ BouttonClass }}"><i class="icon-upload1"></i>Prendre en masse musculaire</a>
            </div>

            <div class="{{ ColClass }}">
                <a href="?choix=poids" class="{{ BouttonClass }}"><i class="icon-pagelines"></i>Perdre du poids</a>
            </div>

            <div class="{{ ColClass }}">
                <a href="?choix=sante" class="{{ BouttonClass }}"><i class="icon-line-heart"></i>Améliorer ma santé</a>
            </div>
        </div>
    </div>
{% endblock %}