<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<script type="text/javascript">
    (function () {
        window.sib = {
            equeue: [],
            client_key: "i45ln85i46qgckhyk9taj"
        };
        /* OPTIONAL: email for identify request*/
        {% if mail is defined %}
        window.sib.email_id = '{{ mail }}';
        {% endif %}
        window.sendinblue = {};
        for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
            (function (k) {
                window.sendinblue[k] = function () {
                    var arg = Array.prototype.slice.call(arguments);
                    (window.sib[k] || function () {
                        var t = {};
                        t[k] = arg;
                        window.sib.equeue.push(t);
                    })(arg[0], arg[1], arg[2]);
                };
            })(j[i]);

        }
        console.log(window.sendinblue);

        var n = document.createElement("script"),
            i = document.getElementsByTagName("script")[0];
        n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
    })();
</script>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NJTVRZH');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="/css/responsive.css" type="text/css"/>
    {% block Css %}
    {% endblock %}
    <style>
        @media only screen and (max-width: 300px) {
            .container {
                padding-right: 10px !important;
                padding-left: 10px !important;
            }

            .button-xlarge {
                font-size: 9px !important;
            }
        }

        @media only screen and (min-width: 300px) and (max-width: 450px) {
            .container {
                padding-right: 10px !important;
                padding-left: 10px !important;
            }

            .button-xlarge {
                font-size: 12px !important;
            }
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Document Title
    ============================================= -->
    <title>{% block titrepage %}Matching Custom Coaching{% endblock %}</title>


</head>

<body class="stretched">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJTVRZH"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="full-header dark">

        <div id="header-wrap">

            <div class="container clearfix">


                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="https://custom-coaching.fr/" target="_blank" class="retina-logo"
                       data-dark-logo="/images/Logo.png"><img
                                src="/images/Logo.png" alt="Custom Coaching"></a>
                    <a href="https://custom-coaching.fr/" target="_blank" class="standard-logo"
                       data-dark-logo="/images/Logo.png"><img
                                src="/images/Logo.png" alt="Custom Coaching"></a>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->


            </div>

        </div>

    </header><!-- #header end -->

    <div class="section notopborder nobg mt-1 mt-lg-5" style="padding: 10px 0 60px;">
        {% block Content %}
            <div class="container center clearfix">

                <div class="divcenter bottommargin" style="max-width: 800px;">
                    <div class="fluid-width-video-wrapper" style="padding-top: 52.8%;">
                        <iframe src="//player.vimeo.com/video/105977011?title=0&amp;byline=0&amp;portrait=0&amp;color=24a8bf"
                                webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid0"
                                frameborder="0"></iframe>
                    </div>
                </div>

                <p><strong>Share this Video:</strong> <a href="#"
                                                         class="button button-rounded si-facebook si-colored leftmargin-sm"><i
                                class="icon-facebook"></i> Facebook</a> <a href="#"
                                                                           class="button button-rounded si-twitter si-colored"><i
                                class="icon-twitter"></i> Twitter</a> <a href="#"
                                                                         class="button button-rounded si-pinterest si-colored"><i
                                class="icon-pinterest"></i> Pinterest</a></p>
            </div>

        {% endblock %}
    </div>
</div>

<!-- External JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/js/functions.js"></script>

{% block Js %}
{% endblock %}
<script>

    $(function () {
        $("#side-navigation").tabs({show: {effect: "fade", duration: 400}});
    });
</script>

</body>
</html>