<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<script type="text/javascript">
    (function() {
        window.sib = {
            equeue: [],
            client_key: "i45ln85i46qgckhyk9taj"
        };
        /* OPTIONAL: email for identify request*/
        {% if mail is defined  %}
        window.sib.email_id = '{{ mail }}';
        {% endif %}

        window.sendinblue = {};
        for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
            (function(k) {
                window.sendinblue[k] = function() {
                    var arg = Array.prototype.slice.call(arguments);
                    (window.sib[k] || function() {
                        var t = {};
                        t[k] = arg;
                        window.sib.equeue.push(t);
                    })(arg[0], arg[1], arg[2]);
                };
            })(j[i]);
        }
        var n = document.createElement("script"),
            i = document.getElementsByTagName("script")[0];
        n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
    })();
</script>
<head>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJTVRZH"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="/css/responsive.css" type="text/css"/>
    {% block Css %}
    {% endblock %}
    <style >
        @media only screen and (max-width: 300px) {
        .container {
            padding-right: 10px !important;
            padding-left: 10px !important;
        }

            .button-xlarge {
                font-size: 9px !important;
            }
        }

        @media only screen and (min-width: 300px) and (max-width: 450px) {
            .container {
                padding-right: 10px !important;
                padding-left: 10px !important;
            }

            .button-xlarge {
                font-size: 12px !important;
            }
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Document Title
    ============================================= -->
    <title>{% block titrepage %}Matching Custom Coaching{% endblock %}</title>


</head>

<body class="stretched">
{#

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMJZGHD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Document Wrapper
============================================= -->
#}
<div id="wrapper" class="clearfix">
    {% block fullPage %}
    {% endblock %}
</div>

<!-- External JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/js/functions.js"></script>

{% block Js %}
{% endblock %}
<script>

    $(function () {
        $("#side-navigation").tabs({show: {effect: "fade", duration: 400}});
    });
</script>

</body>
</html>