{% extends 'matching/layoutApli.twig' %}
{% block titre %}Dans combien de temps a lieu ta compétition ?{% endblock %}
{% block titre_span %}On va te trouver le meilleur coach pour te préparer{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-xl-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="{{ ColClass }}">
                <a href="?choix=1" class="{{ BouttonClass }}">1 mois</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=2" class="{{ BouttonClass }}">2 mois</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=3" class="{{ BouttonClass }}">3 mois</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=6" class="{{ BouttonClass }}">6 mois</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=12" class="{{ BouttonClass }}">12 mois</a>
            </div>

        </div>
    </div>
{% endblock %}