{% extends 'matching/layoutApli.twig' %}
{% block titre %}Quel est ton objectif  dans ce sport ?{% endblock %}
{% block titre_span %}On va te trouver le meilleur coach pour l'atteindre{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-xl-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="{{ ColClass }}">
                <a href="?choix=competition" class="{{ BouttonClass }}"><i class="icon-graph"></i>Une compétition</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=perf_sportive" class="{{ BouttonClass }}"><i class="icon-user-md1"></i>Améliorer mes performances</a>
            </div>

            <div class="{{ ColClass }}">
                <a href="?choix=esthetique" class="{{ BouttonClass }}"><i class="icon-upload1"></i>Une meilleure esthétique</a>
            </div>


        </div>
    </div>
{% endblock %}