{% extends 'matching/layoutApli.twig' %}
{% block titre %}Aimerais-tu en faire ?{% endblock %}
{% block titre_span %}
    {%  if currentRoute=='matching_Sante_sports_souhait' %}
        La pratique d'un sport est un plus pour ta santé.
    {% else %}
        La pratique d'un sport est un plus dans ton processus de perte de poids.
    {% endif %}

{% endblock %}
{% block Content %}
    {%  set ColClass %}col-12 col-md-6 {% endset %}
    {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
    <div class="container center clearfix">
<div class="row">
    <div class="{{ ColClass }}">
        <a href="?choix=Oui" class="{{ BouttonClass }}"><i class="icon-laugh1"></i>Oui</a>
    </div>
    <div class="{{ ColClass }}">
        <a href="?choix=Non" class="{{ BouttonClass }}"><i class="icon-meh-rolling-eyes1"></i>Non</a>
    </div>
</div>
</div>
  {% endblock %}