{% extends 'matching/layoutApli.twig' %}
{% block titre %}Fais-tu du sport actuellement ?{% endblock %}
{% block titre_span %}
{% if type=='Sante' %}
Nous avons des coachs dans toutes les disciplines pour t'aider à améliorer ta santé plus rapidement.
{% else %}
Nous avons des coachs dans toutes les disciplines pour t'aider à perdre du poids plus rapidement.
{% endif %}
{% endblock %}
{% block Content %}
    {%  set ColClass %}col-12 col-md-6 {% endset %}
    {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
    <div class="container center clearfix">
<div class="row">
    <div class="{{ ColClass }}">
        <a href="?choix=Oui" class="{{ BouttonClass }}"><i class="icon-laugh1"></i>Oui</a>
    </div>
    <div class="{{ ColClass }}">
        <a href="?choix=Non" class="{{ BouttonClass }}"><i class="icon-meh-rolling-eyes1"></i>Non</a>
    </div>
</div>
</div>
  {% endblock %}