{% extends 'matching/layoutApli.twig' %}
{% block titre %}Préfères-tu un coach féminin ou masculin ?{% endblock %}
{% block titre_span %}
    Chez Custom Coaching, nous nous adaptons à vos préférences.
{% endblock %}
{% block Content %}
    {%  set ColClass %}col-12 col-md-4 {% endset %}
    {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
    <div class="container center clearfix">
<div class="row">
    <div class="{{ ColClass }}">
        <a href="?choix=LesDeux" class="{{ BouttonClass }}"><i class="icon-venus-mars"></i>Peu importe</a>
    </div>
    <div class="{{ ColClass }}">
        <a href="?choix=Homme" class="{{ BouttonClass }}"><i class="icon-mars"></i>Homme</a>
    </div>
    <div class="{{ ColClass }}">
        <a href="?choix=Femme" class="{{ BouttonClass }}"><i class="icon-venus"></i>Femme</a>
    </div>
</div>
</div>
  {% endblock %}