{% extends 'matching/layoutApli.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block checkbox_widget %}
    {% spaceless %}
        <div class="left">
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}
                       data-toggle="toggle" data-size="small"/>
                {{ label|trans({}, translation_domain) }}
            </label>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block titre %}Quel(s) sport(s) souhaites-tu pratiquer ?{% endblock %}
{% block titre_span %}
    {%  if currentRoute=='matching_Sante_sports_pratique_Souhait' %}
        Nous avons des coachs dans toutes les disciplines pour t'aider à améliorer ta santé plus rapidement.
    {% else %}
        Nous avons des coachs dans toutes les disciplines pour t'aider à perdre du poids plus rapidement.
    {% endif %}
{% endblock %}
{% block Content %}
    {%  set ColClass %}col-12 col-md-6 {% endset %}
    <div class="container clearfix">

    {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6 fleft">
            {{ form_widget(form.sports) }}
            <div id="toggle_autre" class="panel-collapse collapse in">
                {{ form_widget(form.autre) }}
            </div>
            <br />
            {{ form_widget(form.submit,{'attr': {'class': 'button button-3d button-xlarge btn-block button-rounded button-green'}}) }}
        </div>
        <div class="col-3">
        </div>
    </div>

    {{ form_end(form) }}
    </div>
{% endblock %}
{% block Js %}
<script src="/js/components/rangeslider.min.js"></script>
<script src="/js/components/moment.js"></script>
<script>

    $(document).ready(function () {
        $('#form_sports_6').change(function () {
            if ($(this).prop('checked')) {
                $('#toggle_autre').collapse("show");
            }
            else {
                $('#toggle_autre').collapse("hide");
                }
            });

    });
</script>
{% endblock %}