{% extends 'matching/layoutApli.twig' %}
{% block titre %}Combien de kilos veux-tu perdre ?{% endblock %}
{% block titre_span %}Nous te proposerons le meilleur coach et suivi en fonction de ton objectif{% endblock %}
{% block Content %}
    {%  set ColClass %}col-12 {% endset %}
    {%  set BouttonClass %}button button-3d button-rounded button-green{% endset %}
<div class="container center clearfix">
    <div class="row">
    <div class="{{ ColClass }}">
        <input class="range_01" />
    </div>
    <div class="{{ ColClass }}">
        <br />
        <a href="#" class="{{ BouttonClass }}" id="valider" ><i class="icon-line-check"></i>Valider</a>
    </div>
</div>
</div>
{% endblock %}
{% block Css %}
<link rel="stylesheet" href="/css/components/ion.rangeslider.css" type="text/css" />
{% endblock %}

{% block Js %}
    <script src="/js/components/rangeslider.min.js"></script>
    <script src="/js/components/moment.js"></script>
<script>

    $(document).ready(function () {

        $("#valider").on('click', function(event){
            var slider = $(".range_01").data("ionRangeSlider");
            //alert('In');
            //console.log(slider.result);
   //         alert(slider.result.from);
            document.location.href="?choix="+slider.result.from;
        });

        $(".range_01").ionRangeSlider({
            min: 1,
            max: 25,
            from: 1,
            postfix: " kilo(s)",
        });
    });

</script>

{% endblock %}

