{% extends 'matching/layoutApli.twig' %}
{% block titre %}Quel est ton style alimentaire ?{% endblock %}
{% block titre_span %}{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-xl-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="{{ ColClass }}">
                <a href="?choix=flexitarien" class="{{ BouttonClass }}"><i class="icon-arrow-right2"></i>Flexitarien (je mange de tout)</a>
            </div>
            <div class="{{ ColClass }}">
                <a href="?choix=vegan" class="{{ BouttonClass }}"><i class="icon-arrow-right2"></i>Végan</a>
            </div>

            <div class="{{ ColClass }}">
                <a href="?choix=végétarien" class="{{ BouttonClass }}"><i class="icon-arrow-right2"></i>Végétarien</a>
            </div>

        </div>
    </div>
{% endblock %}