{% extends 'landing_page/layout2.twig' %}
{% block titrepage %}Financer votre Holding{% endblock %}
{% block imageheader %}Holding.jpg{% endblock %}
{% block titreh1 %}
    <span style="background-color: #0b0b0b77;padding: 6px;margin-bottom: 15px">Financer Simplement et Rapidement les sociétés que vous contrôlez</span>
{% endblock %}
{% block intro %}
    <p>
        Il existe désormais une solution simple pour <strong>financer votre holding</strong>. Depuis le 30 mai 2014 le
        financement participatif est possible en France.
    </p>
    <p>
        J’accompagne depuis des années des entrepreneurs comme vous dans leurs recherches de capitaux. J’ai créé Crowdup
        pour permettre à <strong>chaque chef d'entreprise</strong>
        qui le souhaite d’accéder à ce moyen simple et rapide de se financer.
    </p>
    <p>
        Chaque <strong>projet est unique</strong>, je vous propose que l’on discute de votre activité et de vos
        possibilités durant un <a href="#">rendez-vous de 20 minutes</a> (c'est gratuit et vous pouvez prendre
        rendez-vous en 2 clics).
    </p>
{% endblock %}


{% block titreavantage %}
    Les <span>avantages</span> des financements alternatifs <br/>par rapport au financement traditionnel pour <span>financer vos projets</span>
{% endblock %}

{% block titreprojet %}
    pour <span>votre holding</span>  : Quels projets sont finançables ?
{% endblock %}

{% block UsageImg1 %}/images/services/Holding1.jpg{% endblock %}
  {% block UsageDescr1 %}
      <h3>Le <span>rachat</span> d'une entreprise </h3>
      <p>Vous avez une opportunité de rachat d'une entrpeprise ? Vous devez vous positionner rapidement ?

      </p>
  {% endblock %}


{% block UsageImg2 %}/images/services/Holding2.jpg{% endblock %}
  {% block UsageDescr2 %}
      <h3>Financer le <span>BFR</span></h3>
      <p>Vous avez besoin de fonds pour financer le BFR d'une de vos entreprises ? </p>
  {% endblock %}
{% block UsageImg3 %}/images/services/Holding3.jpg{% endblock %}
      {% block UsageDescr3 %}
          <h3>Financer de <span>l'immatériel</span></h3>
          <p>Financer le recrutement de vos salariés, la refonte d'un site internet ou les dépenses de recherche et
              développement.</p>
{% endblock %}
