<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NMJZGHD');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- Stylesheets
    ============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/dark.css" type="text/css"/>
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css"/>
    <link rel="stylesheet" href="/css/responsive.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Document Title
    ============================================= -->
    <title>{% block titrepage %}Financer votre Restaurant{% endblock %}</title>


</head>

<body class="stretched">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMJZGHD"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="transparent-header page-section dark">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="https://www.crowdup.fr" target="_blank" class="retina-logo"
                       data-dark-logo="/images/FAVICON_CrowdUp2.png"><img
                                src="/images/FAVICON_CrowdUp2.png" alt="Crowdup"></a>
                    <a href="https://www.crowdup.fr" target="_blank" class="standard-logo"
                       data-dark-logo="/images/LOGO_CrowdUp_250px-wht2-07.png"><img
                                src="/images/LOGO_CrowdUp_250px-wht2-07.png" alt="Crowdup"></a>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul class="one-page-menu">
                        <li class="current"><a href="#" data-href="#Intro">
                                <div>Intro</div>
                            </a></li>
                        <li><a href="#" data-href="#Avantages">
                                <div>Avantages</div>
                            </a></li>
                        <li><a href="#" data-href="#Presse">
                                <div>Presse</div>
                            </a></li>
                        <li><a href="#Projets" data-href="#Projets">
                                <div>Projets</div>
                            </a></li>
                        <li><a href="#Etapes" data-href="#Etapes">
                                <div>Etapes</div>
                            </a></li>
                        <li><a href="#VotreProjet" data-href="#VotreProjet">
                                <div>Votre Projet</div>
                            </a></li>
                        <li><a href="#References" data-href="#References">
                                <div>Références</div>
                            </a></li>
                    </ul>

                </nav><!-- #primary-menu end -->

            </div>

        </div>

    </header><!-- #header end -->

    <section id="slider" class="slider-element slider-parallax full-screen dark"
             style="background: url(/images/lp/{% block imageheader %}restaurant.jpg{% endblock %}) center center no-repeat; background-size: cover">

        <div class="slider-parallax-inner">

            <div class="container-fluid vertical-middle clearfix">

                <div class="heading-block   title-center nobottomborder">
                    <h1 class="">{% block titreh1 %}
                            Métier : Les
                            <span>avantages</span>  des Financements alternatifs par rapport au financement traditionnel
                        {% endblock %}
                    </h1>
                    <span>Solutions de financement sans caution personnelle</span>
                </div>

                <div class="center bottommargin">
                    <a href="#VotreProjet" data-scrollto="#VotreProjet"
                       class="button button-3d button-red button-xlarge nobottommargin">
                        <i class="icon-user2"></i>Votre projet</a>
                </div>

            </div>

        </div>

    </section>

    <!-- Content
    ============================================= -->

    <section id="Intro" style="margin-bottom: 0px;">
        <div class="content-wrap">


            <!-- Intro-->
            <div class="row align-items-stretch clearfix">

                <div class="col-md-5 col-padding"
                     style="min-height:300px;background: url('/images/Thomas.jpg') center top no-repeat; background-size: cover;"></div>

                <div class="col-md-7 col-padding">
                    <div>
                        <div class="heading-block">
                            <span class="before-heading color">Co fondateur CrowdUp</span>
                            <h3>Thomas Revel</h3>
                        </div>

                        <div class="row clearfix">

                            <div class="col-lg-12">
                                {% block intro %}
                                    <p>Employment respond committed meaningful fight against oppression social
                                        challenges
                                        rural legal aid governance. Meaningful work, implementation, process
                                        cooperation,
                                        campaign inspire.</p>
                                    <p>Advancement, promising development John Lennon, our ambitions involvement
                                        underprivileged billionaire philanthropy save the world transform. Carbon rights
                                        maintain healthcare emergent, implementation inspire social change solve clean
                                        water
                                        livelihoods.</p>
                                {% endblock %}

                                <a href="{{ LienRDV }}" class="social-icon inline-block  si-light si-rounded si-call">
                                    <i class="icon-call"></i>
                                    <i class="icon-call"></i>
                                </a>
                                <a href="{{ LienRDV }}" class="social-icon inline-block  si-light si-rounded si-call">
                                    <i class="icon-calendar-1"></i>
                                    <i class="icon-calendar-1"></i>
                                </a>

                            </div>


                        </div>

                    </div>
                </div>

            </div>

            <!-- Avantages -->
            <div class="section nobg" id="Avantages">

                <h4 class="uppercase center">
                    {% block titreavantage %}
                        Métier : Les
                        <span>avantages</span>  des Financements alternatifs par rapport au financement traditionnel
                    {% endblock %}
                </h4>

                <div class="content-wrap">
                    <div class="container clearfix">
                        <div class="clear"></div>
                        <div class="col_one_fourth">
                            <div class="feature-box fbox-center fbox-effect">
                                <div class="fbox-icon">
                                    <a href="#Avantages"><i class="icon-shipping-fast i-alt"></i></a>
                                </div>
                                <h3>Un financement Rapide</h3>
                                <p>Obtenez vos fonds en moins de 10 jours.</p>
                            </div>
                        </div>
                        <div class="col_one_fourth">
                            <div class="feature-box fbox-center fbox-dark fbox-effect">
                                <div class="fbox-icon">
                                    <a href="#Avantages"><i class="icon-check1 i-alt"></i></a>
                                </div>
                                <h3>Simplement</h3>
                                <p>
                                    Un seul interlocuteur pour l'ensemble des plateformes. Et vous n'avez pas des tonnes
                                    de dossiers à remplir.

                                </p>
                            </div>
                        </div>
                        <div class="col_one_fourth">
                            <div class="feature-box fbox-center fbox-dark fbox-effect">
                                <div class="fbox-icon">
                                    <a href="#Avantages"><i class="icon-user2 i-alt"></i></a>
                                </div>
                                <h3>Sans caution personnelle</h3>
                                <p>Auncune garantie sur vos actifs et sans assurance.</p>
                            </div>
                        </div>
                        <div class="col_one_fourth col_last">
                            <div class="feature-box fbox-center fbox-light fbox-effect">
                                <div class="fbox-icon">
                                    <a href="#Avantages"><i class="icon-euro-sign i-alt"></i></a>
                                </div>
                                <h3>Empruntez de 20.000 à 2.500.000 €</h3>
                                <p>Adaptez le montant à votre projet très simplement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Presse" class="promo promo-dark promo-uppercase">


                <div class="container clearfix" style="padding: 50px">
                    <div class="clear"></div>
                    <div class="col_one_third">
                        <div class="feature-box fbox-center fbox-effect">
                            <div class="fbox-media">
                                <a href="https://business.lesechos.fr/entrepreneurs/financer-sa-croissance/le-pret-participatif-pour-financer-plus-rapidement-l-immateriel-301405.php"
                                   target="_blank">
                                    <img src="/images/testimonials/les-echos-entrepreneurs-logo.jpg">

                                </a>

                            </div>
                            <h3></h3>
                            <p class="text-white">
                                <strong>“ &nbsp;</strong>
                                Sans délais, ni garantie, le « crowdlending » séduit de plus en plus de TPE pour
                                financer l'effort marketing, le recrutement, le formation, le développement commercial
                                ou même le BFR.
                                <strong>&nbsp; ”</strong>
                            </p>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="feature-box fbox-center fbox-dark fbox-effect">
                            <div class="fbox-media">
                                <a href="https://vimeo.com/235335819" target="_blank">
                                    <img src="/images/testimonials/TF1.png">

                                </a>

                            </div>
                            <h3></h3>
                            <p class="text-white">
                                <strong>“ &nbsp;</strong>Ce moyen de financement est rapide et beaucoup plus souple que
                                le système bancaire.<strong>&nbsp; ”</strong>
                            </p>

                        </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="feature-box fbox-center fbox-dark fbox-effect">
                            <div class="fbox-media">
                                <a href="https://www.economie.gouv.fr/cedef/financement-participatif" target="_blank">
                                    <img src="/images/testimonials/ministere-economie.png">

                                </a>

                            </div>
                            <h3></h3>
                            <p class="text-white">
                                <strong>“ &nbsp;</strong>Afin de lever les freins au développement de ce mode de
                                financement, l’ordonnance n°2014-559 du 30 mai 2014 relative au financement participatif
                                a défini un nouveau cadre réglementaire permettant une sécurisation juridique des
                                transactions et une protection des investisseurs.<strong>&nbsp; ”</strong>
                            </p>

                        </div>
                    </div>

                </div>

            </div>

            <div class="section nobg" id="Projets">

                <h2 class="uppercase center">
                    {% block titreprojet %}
                        What <span>Clients</span> Say?
                    {% endblock %}
                </h2>

                <div class="content-wrap">

                    <div class="container clearfix">
                        <div class="col_one_fourth nobottommargin">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{% block UsageImg1 %}/images/services/1.jpg{% endblock %}">
                                </div>
                                <div class="fbox-desc">
                                    {% block UsageDescr1 %}
                                        <h3>Why choose Us.<span class="subtitle">Because we are Reliable.</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem,
                                            facilis
                                            nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis
                                            mollitia.</p>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        <div class="col_one_fourth nobottommargin">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{% block UsageImg2 %}/images/services/1.jpg{% endblock %}">
                                </div>
                                <div class="fbox-desc">
                                    {% block UsageDescr2 %}
                                        <h3>Why choose Us.<span class="subtitle">Because we are Reliable.</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem,
                                            facilis
                                            nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis
                                            mollitia.</p>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        <div class="col_one_fourth nobottommargin">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{% block UsageImg3 %}/images/services/1.jpg{% endblock %}">
                                </div>
                                <div class="fbox-desc">
                                    {% block UsageDescr3 %}
                                        <h3>Why choose Us.<span class="subtitle">Because we are Reliable.</span></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem,
                                            facilis
                                            nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis
                                            mollitia.</p>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                        <div class="col_one_fourth nobottommargin col_last">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="/images/services/Thomas.jpg" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc">
                                    <h3> Parlez moi de <span>votre entreprise</span></h3>
                                    <p>
                                        et je vous donnerez les meilleures pistes pour votre financement.

                                        <a href="{{ LienRDV }}" class="button button-red button-small button-rounded">Rendez-vous
                                            gratuit</a>

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="section nomargin">

                        <div class="container clearfix">

                            <div class="heading-block center" id="Etapes">
                                <h2>Les différentes étapes pour financer votre entreprise</h2>
                                <span>Financez votre projet trés simplement et rapidement</span>
                            </div>


                            <div class="col_one_third nobottommargin">

                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <i class="i-alt">1.</i>
                                    </div>
                                    <h3>J’ai besoin de <span>combien</span></h3>
                                    <p>Determiner le montant que vous souhaitez emprunter.</p>
                                </div>

                            </div>
                            <div class="col_one_third nobottommargin">

                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <i class="i-alt">2.</i>
                                    </div>
                                    <h3><span>Accompagnement</span> à l’obtention des fonds</h3>
                                    <p><span>CrowdUp vous accompagne</span> dans le choix du bon montage financier,
                                        créer le dossier de demande
                                        et choisir la bonne plateforme pour votre projet. Notre taux de réussite est de
                                        92%;</p>
                                </div>

                            </div>
                            <div class="col_one_third nobottommargin col_last">

                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <i class="i-alt">3.</i>
                                    </div>
                                    <h3>Obtenez <span>vos fonds</span></h3>
                                    <p>En moins de <strong>7 jours</strong> vos fonds sont disponibles.</p>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="container clearfix">
                    <div class="promo promo-dark promo-uppercase bottommargin" id="VotreProjet">

                        <span>Vous avez un projet entre 20.000 et 2.500.000 € ?</span>
                        <span>Vous souhaitez en savoir plus sur le financement participatif
                            <br/>et les bénéfices pour votre entreprise ?</span>
                        <a href="{{ LienRDV }}" class="button button-xlarge button-rounded">Prenez un RDV de 20 mn </a>
                    </div>
                </div>


                <div class="container clearfix">
                    <div class="heading-block center" id="References">
                        <h2>Ils nous ont fait confiance</h2>
                        <span>Pour financer leur projet</span>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <img src="/images/testimonials/LeJ.jpg">

                        </div>
                        <div class="col-9">
                            <p>
                                Grâce à Thomas Revel et Crowdup, nous avons obtenu un financement de <strong>480 000
                                    €</strong> pour la reprise d'un hôtel-restaurant en bord de mer près de Montpellier.

                                <br/>
                                Thomas nous a permis de boucler le financement en un temps record et a su nous obtenir
                                le meilleur taux auprès de la plateforme la plus adaptée à notre projet. </p>
                            <div class="testi-meta">
                                Nicolas F
                                <span>gérant d'OFH, Le J Carnon</span>
                            </div>
                        </div>

                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-3">
                            <img src="/images/testimonials/scp.jpeg">

                        </div>
                        <div class="col-9">
                            <p>
                                Grâce aux services de CrowdUp, nous continuons le développement de notre entreprise :
                                S.P.C REVETEMENT.
                                Pour cela, nous avions besoin de recruter rapidement 3 soliers et un responsable
                                administratif et financier suite à l'obtention d'un marché public de 1 million d'euros.
                            <br />
                                Nous avons obtenu un financement de <strong>106 000 €</strong> pour recruter et ainsi
                                accélérer notre croissance.


                            </p>
                            <div class="testi-meta">
                                Kamel  E
                                <span>gérant de S.P.C Revetement</span>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-3">
                            <img src="/images/testimonials/QuartierTissus.png">

                        </div>
                        <div class="col-9">
                            <p>
                                Créée en 2001, l’enseigne Quartier des Tissus est un incontournable de la vente de tissus
                                d’habillement et de décoration : elle compte aujourd’hui 7 boutiques réparties dans le sud
                                de la France et un site de vente en ligne.
                            </p>
                            <p>
                                Crowdup a permis de financer en <strong>3 jours 70 000 € </strong> pour un besoin en fonds
                                de roulement.
                            </p>
                        </div>
                    </div>
                </div>




            </div>


        </div>


</div>

</div>

</section>


<!-- Footer
============================================= -->
<footer id="footer" class="dark">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">

            <div class="col_half">
                Copyrights &copy; 2019 All Rights Reserved Crowdup<br>
                <div class="copyright-links"><a href="https://www.crowdup.fr/mentions-legales/" target="_blank">Mentions
                        légales</a></div>
            </div>

            <div class="col_half col_last tright">


                <div class="clear"></div>

            </div>

        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/js/functions.js"></script>

<script>
    $(function () {
        $("#side-navigation").tabs({show: {effect: "fade", duration: 400}});
    });
</script>

</body>
</html>