{% extends 'landing_page/layout2.twig' %}
{% block titrepage %}Financer votre Restaurant{% endblock %}
{% block imageheader %}restaurant.jpg{% endblock %}
{% block titreh1 %}
    Financer Simplement et Rapidement votre Restaurant
{% endblock %}
{% block intro %}
    <p>
        Il existe désormais une solution simple pour <strong>financer votre restaurant</strong>. Depuis le 30 mai 2014 le financement participatif est possible en France.
    </p>
    <p>
        J’accompagne depuis des années des entrepreneurs comme vous  dans leurs recherches de capitaux. J’ai créé Crowdup pour permettre à <strong>chaque restaurateur</strong> qui le souhaite d’accéder à ce moyen simple et rapide de se financer.
    </p>
    <p>
        Chaque <strong>projet est unique</strong>, je vous propose que l’on discute de votre activité et de vos
        possibilités durant un <a href="{{ LienRDV }}">rendez-vous de 20 minutes</a> (c'est gratuit et vous pouvez prendre rendez-vous en 2 clics).
    </p>
{% endblock %}


{% block titreavantage %}
    Les <span>avantages</span>  des financements alternatifs <br />par rapport au financement traditionnel dans <span>  la restauration</span>
{% endblock %}

{% block titreprojet %}
    pour <span>votre restaurant</span>  : Quels projets sont finançables?
{% endblock %}

{% block UsageImg1 %}/images/services/restaurant1.jpg{% endblock %}
  {% block UsageDescr1 %}
      <h3><span >Transformer</span> votre restaurant</h3>
      <p>Vous avez comme projet de rénover ou agrandir votre restaurant ? Renouveler votre mobilier ?

      </p>
  {% endblock %}


{% block UsageImg2 %}/images/services/restaurant2.jpg{% endblock %}
  {% block UsageDescr2 %}
      <h3>Financer le <span >BFR</span> de votre restaurant</h3>
      <p>Vous avez besoin de fonds pour financer vos fournisseurs ? </p>
  {% endblock %}
{% block UsageImg3 %}/images/services/restaurant3.jpg{% endblock %}
  {% block UsageDescr3 %}
      <h3> Financer les <span >salaires</span> <br/></h3>
      <p>
          La saison va bientôt commencer et vous devez financer les salaires de votre personnel ?
      </p>
  {% endblock %}
