{% extends 'matching/layoutLp.twig' %}
{% block titre %}Ton coach{% endblock %}
{% block titre_span %}
{% endblock %}
{% block Css %}
    <style>
        @media only screen and (max-width: 700px) {
            .embed-responsive-16by9::before {
                padding-top: 100%;
            }
        }
    </style>
{% endblock %}

{% block Content %}
    <div class="container center clearfix">


        {% set ColClass %}col-12 col-xl-6 {% endset %}
        {% set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">


            <div class="col-12">
                <h2>Comment choisir ce coach dans l'application</h2>
                <a id="lancer" class="button button-3d button-small button-rounded button-green" href="#vue"><i
                            class="icon-play1"></i>Lancer la vidéo</a>

                <a name="vue"> </a>
                <div class="video-wrapper embed-responsive    embed-responsive-16by9" style="max-height:80%">
                    <video autoplay="" controls="" src="/images/ChoixCoach.mov" id="video"
                           style="position:absolute; top:0; left:0; height:100%"></video>
                </div>

            </div>


            <div class="{{ ColClass }} mt-4">

                <a href="https://itunes.apple.com/fr/app/custom-coaching/id1300679390?mt=8"
                   class="button button-rounded button-black" target="_blank">
                    <i class="icon-app-store-ios"></i>

                    Download for Apple iOS

                </a> <a href="https://play.google.com/store/apps/details?id=fr.cmrp.customcoaching" target="_blank"
                       class="button button-rounded button-black">
                    <i class="icon-android"></i>
                    Download for Android
                </a>

            </div>
            <div class="{{ ColClass }} mt-4">
                <a href="?choix=rdv" class="{{ BouttonClass }}"><i class="icon-calendar2"></i>Prendre un rendez-vous</a>
            </div>

        </div>
    </div>
{% endblock %}
{% block Js %}

    <script>
        let videoElem = document.getElementById("video");

        setTimeout(fonctionJouer, 1000);
        $("#lancer").click(function () {
            fonctionJouer();
        });

        async function fonctionJouer() {
            try {
                await videoElem.play();
            } catch (err) {
            }
        }
    </script>{% endblock %}
