{% extends 'matching/layout.twig' %}
{% block titre %}Voici les coachs {% endblock %}
{% block titre_span %}

{% endblock %}
{% block Content %}
    <div class="container  clearfix">
        {%  set ColClass %}col-12 col-xl-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            {%  if Coachs|length >0 %}
            {% for Coach in Coachs %}
            <div class="col-lg-3 col-12">
            <img class="img-fluid" src="https://custom-coaching.fr/coach/upload/{{ Coach.photoadmin }}" />
            </div>
            <div class="col-lg-9 col-12" >
                <h2>{{ Coach.pseudoadmin }} <span class="badge badge-success text-white">{{ Coach.SCORE |round(1, 'floor') }}%</span></h2>
                <p>
                    {{ Coach.descriptifadmin }}
                <br />
                    mes spécialités : {{ Coach.specialiteadmin }}
                </p>
                <p>
                    <a href="{{ path('matching_Lp1_ChoixCoach') }}?idc={{ Coach.idAdmin }}" class="btn btn-success">Choisir ce coach</a>
                </p>
            </div>
            <div class="col-12">
            <hr />
            </div>
            {% endfor %}
            {% else %}
            Actuellement aucun coach ne correspond à ton profil....
            {% endif %}

        </div>
    </div>

{% endblock %}