{% extends 'matching/layout.twig' %}
{% block titre %}Merci :){% endblock %}
{% block titre_span %}{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-md-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="col-12">
                <h3 class="h1 t700" data-animate="bounceInLeft">Je te recontacte le moment venu !</h3>
                <h3  data-animate="bounceInRight" data-delay="1000">Natacha de Custom Coaching</h3>
            </div>

        </div>
    </div>
{% endblock %}
{% block Js %}
    <script>
    </script>
{% endblock %}