{% extends 'matching/layoutCoach.twig' %}
{% block fullPage %}
    <input type="hidden" value="1" id="offre">
    <input type="hidden" value="1" id="plan1">
    <input type="hidden" value="2" id="plan2">
    <input type="hidden" value="1" id="plan">
    <input type="hidden" name="contactEmailField" value="" class="contactField" id="code_promo">

    <div class="section nomargin noborder pt-4 pb-0 bgcolor dark">
        <div class="container center clearfix">


            <div class="row">
                <div class="col-4 col-lg-2">
                    <img class="img-fluid m-2 " src="https://custom-coaching.fr/coach/upload/{{ Coach.photoadmin }}"/>
                </div>
                <div class="col-8">
                    <h2>{{ Coach.pseudoadmin }}</h2>
                    <p class="text-dark">
                        Félicitations, {{ Coach.pseudoadmin }} est désormais ton coach personnel ! Tu verras, il est
                        extra ! Voici
                        maintenant la formule de coaching qui te correspond.
                    </p>
                    <p class="text-dark">Grâce à tout est possible, tu disposes d'un mois gratuit en nutrition ou
                        entraintement sportif.
                        <br/> Si tu veux les deux, pas de souci ! Tu ne payeras que la différence.

                    </p>
                    <p>
                        <a class="text-dark" href="{{ path('matching_ToutEstPossible_Calcul') }}">Choisir un autre
                            coach</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="section notopborder nobg mt-1 mt-lg-5" style="padding: 10px 0 60px;">
        <div class="container  clearfix">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-success mb-2">Les avantanges Custom Coaching</h2>
                    <div class="row" style="line-height:2;">
                        <div class="col-12 col-lg-6">
                            <i class="icon-check-circle text-success"></i> <strong>Sans aucun engagement !</strong> Tu
                            es libre
                            d'arrêter quand tu souhaites<br/>
                            <i class="icon-check-circle text-success"></i> Ton <strong>suivi individuel &
                                quotidien</strong> avec
                            ton coach {{ Coach.pseudoadmin }}<br/>
                            <i class="icon-check-circle text-success"></i> Tes entrainements <strong>sportifs et/ou
                                nutritionnels</strong> sur mesure <br/>
                            <i class="icon-check-circle text-success"></i> Ton <strong>espace dédié</strong> custom
                            coaching avec tes
                            programmes, ton historique, ton évolution et tes échanges avec ton coach
                        </div>
                        <div class="col-12 col-lg-6">

                            <i class="icon-check-circle text-success"></i> Ton <strong>bilan complet, tes
                                résultats</strong> et
                            performances <br/>
                            <i class="icon-check-circle text-success"></i> L'<strong>adaptation de ton programme chaque
                                semaine</strong> en fonction de tes contraintes et de ton évolution<br/>
                            <i class="icon-check-circle text-success"></i> Tes <strong>objectifs</strong> sport et/ou
                            nutrition
                            /semaine et /mois<br/>
                            <i class="icon-check-circle text-success"></i> Ton <strong>accès VIP</strong> à notre groupe
                            privé,
                            réservé aux membres Custom coaching
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5 clearfix">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-success mb-2">Les coachings</h2>
                    </div>
                    <div class="col-12 col-lg-4">
                        <button id="pplan1" class="btn m-2 text-left btn-block rounded btn-lg btn-success active_plan"
                                onclick="charger_plan(1);"><i id="pplan1I" class="icon-check1"></i> Entrainement
                        </button>
                    </div>
                    <div class="col-12 col-lg-4">
                        <button id="pplan2" class="btn m-2 text-left btn-block rounded  btn-outline-success"
                                onclick="charger_plan(2);"><i id="pplan2I" class="icon-check-empty"></i> Nutrition
                        </button>
                    </div>
                    <div class="col-12 col-lg-4">
                        <button id="pplan3" class="btn m-2 text-left btn-block rounded btn-outline-success"
                                onclick="charger_plan(3);"><i id="pplan3I" class="icon-check-empty"></i> Entrainement+
                            Nutrition
                        </button>
                    </div>

                    <div class="col-12 col-lg-12 text-center mt-2">
                        <div id="gratuit">
                            <h2 class="text-primary">Coaching offert pour 1 mois par Laurent Marchand</h2>
                            <p>
                                Choisi Entrainement + nutrition pour 50€ pour <strong class="text-success">profiter d'un
                                    coaching complet</strong>.
                            </p>

                            <button class="btn m-2 text-center rounded btn-lg btn-primary"
                             onclick="validercommande();"><i class="icon-circle-arrow-right"></i> Je valide mon choix</button>
                        </div>

                        <div id="payant" class="hidden">
                            <h2 class="text-primary">Ton coaching complet à 50€ pour 1 mois grâce à Laurent
                                Marchand</h2>
                            <p>Après le premier mois ton coaching te coutera seulement <span><span
                                            id="total_jour">4.60 </span>&euro;</span> /jour</span>
                                <br> Soit <span id="totalm">129 </span>&euro;/ <span id="total_mois"></span> mois.<br/>
                            </p>
                            <p><i>
                                Auncun risque de coupure de ton coaching, nos offres sont en tacites reconductions.
                                Vous pouvez
                                à tout moment choisir de stopper le renouvellement automatique depuis ton espace
                                personnel.
                                </i>
                            </p>
                            <button class="btn m-2 text-center rounded btn-lg btn-primary"
                                    onclick="validercommande();"><i class="icon-shopping-cart1"></i> Payer 50 €</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        {#

                <div class="formFieldWrap">
                    <h2 class="thinner uppercase text-shadow" >Les offres: </h2>
                   <div class="">
                <div class="checkboxes-demo" >


                    <div class="formSubmitButtonErrorsWrap contactFormButton" >
                        <input type="submit" id="offre1"
                               class="buttonWrap button bg-blue-dark contactSubmitButton active_offre"
                                value="Classique (1 mois)"
                               onclick="$('#offre').val('1');  $('#offre1').addClass('active_offre'); $('#offre2').removeClass('active_offre'); charger_total();">
                    </div>


                    <div class="formSubmitButtonErrorsWrap contactFormButton" >
                        <input type="submit" id="offre2" class="buttonWrap button bg-blue-dark contactSubmitButton "
                               value="Privilège (3 mois)"
                               onclick="$('#offre').val('2'); $('#offre2').addClass('active_offre'); $('#offre1').removeClass('active_offre');charger_total(); ">
                    </div>


                </div>
            </div>


        </div>
        #}

        <div class="formFieldWrap">
            <div class="checkboxes-demo">
                <div class="formSubmitButtonErrorsWrap contactFormButton ">
                </div>
            </div>


        </div>


        {#
        <div class="formFieldWrap">
            <label class="field-title contactEmailField" for="contactEmailField">Code promo: <span></span>
            </label>

                   onKeyUp="verifier_promo(); charger_total()"/>
            <span id="error_promo"></span>
            <div class="thinner uppercase text-shadow" onClick="payer()">Je choisis cette offre</div>

        </div>

<div class="formFieldWrap">

            <p>
                * : Sur l'offre classique (1 mois), les prélèvements se feront tous les mois à date d'anniversaire du
                montant de l'offre. Concernant l'offre Privilège (3 mois), le montant total de l'offre sera prélevé tous
                les 3 mois à date d'anniversaire. De plus, toutes les offres sont en tacites reconductions, vous pouvez
                à tout moment choisir de stopper le renouvellement automatique depuis votre espace personnel.
            </p>


        </div>

        #}

        <div submit-success>
            <template type="amp-mustache">
                Success! Thanks , we'll get back to you shortly.
            </template>
        </div>
        <div submit-error>
            <template type="amp-mustache">
                Error!
            </template>
        </div>


        <div class="decoration full-top"></div>
    </div>

{% endblock %}
    {% block Js %}
        <script>
            function validercommande() {
                plan = $('#plan').val();
                document.location.replace('{{ path('matching_ToutEstPossible_ValidationOffre') }}?validate='+plan+'&coach={{ SelCoach }}');
                }
            function payer() {


                offre = $('#offre').val();
                plan = $('#plan').val();


                if (plan == 0) {
                    $.confirm({
                        title: 'Ton coaching',
                        content: 'Merci de choisir au moins un type de coaching : entrainement ou nutrition',
                        buttons: {
                            alphabet: {
                                text: 'Fermer',
                                keys: ['a', 'b'],
                                action: function () {


                                }
                            }
                        }
                    });
                } else {
                    var formData = {
                        code_promo: $('#code_promo').val(),
                        offre: offre,
                        plan: plan,
                        id_coach: '{{ SelCoach }}',
                        id_user: '{{ Token }}',
                    };

                    $.ajax({
                        type: "POST",
                        url: '{{ url_api }}enregistrer_commande',
                        data: formData,
                        success: function (response) {

                            document.location.replace('{{ base_url_pay }}mobile/payer1?id=' + response);
                        }
                    });
                }

            }

            function charger_plan(id) {
                name_offre = '';
                {#
                if (id == 1) {

                    plan1 = $('#plan1').val();
                    if (plan1 == 0) {
                        $('#pplan1').addClass('active_plan');
                        $('#plan1').val('1');

                    } else {
                        $('#pplan1').removeClass('active_plan');
                        $('#plan1').val('0');

                    }
                } else if (id == 2) {

                    plan2 = $('#plan2').val();
                    if (plan2 == 0) {
                        $('#pplan2').addClass('active_plan');
                        $('#plan2').val('2');
                    } else {
                        $('#pplan2').removeClass('active_plan');
                        $('#plan2').val('0');
                    }
                }
                #}
                $('#pplan1').removeClass('btn-lg btn-success btn-outline-success');
                $('#pplan2').removeClass('btn-lg btn-success btn-outline-success');
                $('#pplan3').removeClass('btn-lg btn-success btn-outline-success');

                $('#pplan1I').removeClass('icon-check1 icon-check-empty');
                $('#pplan2I').removeClass('icon-check1 icon-check-empty');
                $('#pplan3I').removeClass('icon-check1 icon-check-empty');
                $('#gratuit').removeClass('hidden');
                $('#payant').removeClass('hidden');


                if (id == 1) {
                    $('#pplan1').addClass('btn-lg btn-success');
                    $('#pplan2').addClass('btn-outline-success');
                    $('#pplan3').addClass('btn-outline-success');

                    $('#pplan1I').addClass('icon-check1');
                    $('#pplan2I').addClass('icon-check-empty');
                    $('#pplan3I').addClass('icon-check-empty');

                    $('#payant').addClass('hidden');

                }
                if (id == 2) {
                    $('#pplan1').addClass('btn-outline-success');
                    $('#pplan2').addClass('btn-lg btn-success');
                    $('#pplan3').addClass('btn-outline-success');

                    $('#pplan1I').addClass('icon-check-empty');
                    $('#pplan2I').addClass('icon-check1');
                    $('#pplan3I').addClass('icon-check-empty');
                    $('#payant').addClass('hidden');

                }
                if (id == 3) {
                    $('#pplan1').addClass('btn-outline-success');
                    $('#pplan2').addClass('btn-outline-success');
                    $('#pplan3').addClass('btn-lg btn-success');

                    $('#pplan1I').addClass('icon-check-empty');
                    $('#pplan2I').addClass('icon-check-empty');
                    $('#pplan3I').addClass('icon-check1');
                    $('#gratuit').addClass('hidden');

                }
                $('#plan').val(id);


                charger_total();
                {#
                        plan1 = $('#plan1').val();
                        plan2 = $('#plan2').val();
                        if (plan1 == 1) name_offre = 'sportif';
                        if (name_offre == '') {
                            if (plan2 == 2) name_offre += 'nutriton';
                        } else {
                            if (plan2 == 2) name_offre += '+nutriton';
                        }
                        $('#plans_name').html(name_offre);
                    #}
            }


            function charger_total() {


                offre = $('#offre').val();
                plan = $('#plan').val();
                var formData = {
                    code_promo: $('#code_promo').val(),
                    offre: offre,
                    plan: plan,
                    id_coach: '{{ SelCoach }}',
                    id_user: '{{ Token }}',
                };

                $.ajax({
                    type: "POST",
                    url: '{{ url_api }}charger_total',
                    data: formData,
                    success: function (response) {

                        $('#totalm').html(response.total);
                        $('#total_mois').html(response.total_mois);
                        $('#total_jour').html(response.total_jour);
                    }
                });
            }

            function verifier_promo() {


                var formData = {
                    code_promo: $('#code_promo').val(),

                };

                $.ajax({
                    type: "POST",
                    url: '<?=url_api?>verifier_valid_promo',
                    data: formData,
                    success: function (response) {
                        if (response == '0') {
                            $('#error_promo').html('<span style="color:#f00"> code promo invalide</span>')
                        } else if (response == '1') {
                            $('#error_promo').html('<span style="color:#28a745"> code promo valide</span>')
                        }
                    }
                });
            }

        </script>
    {% endblock %}