{% extends 'matching/layoutCoach.twig' %}
{% block fullPage %}

    <div class="section nomargin noborder pt-4 pb-0 bgcolor dark" >
        <div class="container center clearfix">


            <div class="row">
                <div class="col-4 col-lg-2">
                    <img class="img-fluid m-2 "   src="https://custom-coaching.fr/coach/upload/{{ Coach.photoadmin }}" />
                </div>
                <div class="col-8" >
                    <h2>{{ Coach.pseudoadmin }}</h2>
                    <p>
                        Félicitations, {{ Coach.pseudoadmin }} est désormais ton coach personnel ! Tu verras, il est extra ! Voici
                        maintenant la formule de coaching qui te correspond.
                    </p>
                    <p>
                        Grace à tout est possible, tu dispose d'un mois gratuit en nutrition ou entraintement sportif.
                    <br /> Si tu veux les deux, pas de souci ! Tu ne payera que la différence.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="content">

        <div class="bloc1" >
            <div class="formFieldWrap">
                <h2 class="thinner uppercase text-shadow" >
                    Meilleure offre pour toi! </h2>
                <div >
                    Formule <span id="offre_name">Entrainement</span> <br><span
                            id="plans_name"> sportif + nutrition </span>
                </div>


                <div class="">
                    <div class="checkboxes-demo">
                        <div >
                            <label><strong>Sans aucun engagement !</strong> Tu es libre d'arrêter quand tu souhaites
                            </label>
                        </div>
                        <div><span></span>

                            <label>Ton <strong >suivi individuel &
                                    quotidien</strong> avec ton coach {{ Coach.pseudoadmin }}</label>
                        </div>


                        <div class=" "><span></span>

                            <label>Tes entrainements <strong>sportifs et/ou nutritionnels</strong> sur mesure </label>
                        </div>


                        <div class="" ><span></span>

                            <label>Tes <strong>objectifs</strong> sport et/ou nutrition /semaine et /mois</label>
                        </div>


                        <div><span></span>

                            <label>
                                Ton <strong>bilan complet, tes résultats</strong> et performances </label>
                        </div>


                        <div><span></span>

                            <label> L'<strong>adaptation de ton programme chaque semaine</strong> en fonction de tes
                                contraintes et de ton évolution</label>
                        </div>


                        <div><span></span>

                            <label>Ton <strong>espace dédié</strong> custom coaching avec tes programmes, ton
                                historique, ton évolution et tes échanges avec ton coach</label>
                        </div>


                        <div><span></span>

                            <label>Ton <strong>accès VIP</strong> à notre
                                groupe privé, réservé aux membres Custom coaching</label>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <div class="bloc1">
            <div class="formFieldWrap">

                <div>
                    Pour seulement

                    <br>Soit <span ><span id="total_jour">4.60 </span>&euro;</span> /jour</span>
                    <br> Soit <span id="totalm">129 </span>&euro;/ <span id="total_mois"></span> mois *
                </div>

            </div>
        </div>



        <div class="formFieldWrap">
            <h2 class="thinner uppercase text-shadow" >Les offres: </h2>


            <div class="">
                <div class="checkboxes-demo" >


                    <div class="formSubmitButtonErrorsWrap contactFormButton" >
                        <input type="submit" id="offre1"
                               class="buttonWrap button bg-blue-dark contactSubmitButton active_offre"
                                value="Classique (1 mois)"
                               onclick="$('#offre').val('1');  $('#offre1').addClass('active_offre'); $('#offre2').removeClass('active_offre'); charger_total();">
                    </div>


                    <div class="formSubmitButtonErrorsWrap contactFormButton" >
                        <input type="submit" id="offre2" class="buttonWrap button bg-blue-dark contactSubmitButton "
                               value="Privilège (3 mois)"
                               onclick="$('#offre').val('2'); $('#offre2').addClass('active_offre'); $('#offre1').removeClass('active_offre');charger_total(); ">
                    </div>


                </div>
            </div>


        </div>

        <input type="hidden" value="1" id="offre">
        <input type="hidden" value="1" id="plan1">
        <input type="hidden" value="2" id="plan2">
        <input type="hidden" value="3" id="plan">
        <div class="formFieldWrap" >
            <h2 class="thinner uppercase text-shadow"
                >Les coachings: </h2>


            <div class="">


                <div class="">
                    <div class="checkboxes-demo" >


                        <div class="formSubmitButtonErrorsWrap contactFormButton ">
                            <input type="submit" id="pplan1"
                                   class="buttonWrap button bg-blue-dark contactSubmitButton active_plan"
                                   value="Entrainement" onclick="charger_plan(1);">
                        </div>


                        <div class="formSubmitButtonErrorsWrap contactFormButton " >
                            <input type="submit" id="pplan2"
                                   class="buttonWrap button bg-blue-dark contactSubmitButton  active_plan"
                                   value="Nutrition" onclick="charger_plan(2);">
                        </div>


                    </div>
                </div>


            </div>


        </div>


        <div class="formFieldWrap" >
            <label class="field-title contactEmailField" for="contactEmailField" >Code promo: <span></span>
            </label>
            <input type="text" name="contactEmailField" value="" class="contactField" id="code_promo" required

                   onKeyUp="verifier_promo(); charger_total()"/>
            <span id="error_promo"></span>
            <div class="thinner uppercase text-shadow" onClick="payer()">Je choisis cette offre</div>

        </div>

        <div class="formFieldWrap" >
            <div class="formSubmitButtonErrorsWrap contactFormButton" >
                <input type="submit" class="buttonWrap button bg-blue-dark contactSubmitButton"
                       value="Changer de coach"
                       onClick="charger_liste_coachs()"/>
            </div>

            <p>
                * : Sur l'offre classique (1 mois), les prélèvements se feront tous les mois à date d'anniversaire du
                montant de l'offre. Concernant l'offre Privilège (3 mois), le montant total de l'offre sera prélevé tous
                les 3 mois à date d'anniversaire. De plus, toutes les offres sont en tacites reconductions, vous pouvez
                à tout moment choisir de stopper le renouvellement automatique depuis votre espace personnel.
            </p>


            </fieldset>


        </div>
        <div submit-success>
            <template type="amp-mustache">
                Success! Thanks , we'll get back to you shortly.
            </template>
        </div>
        <div submit-error>
            <template type="amp-mustache">
                Error!
            </template>
        </div>


        <div class="decoration full-top"></div>
    </div>

{% endblock %}
    {% block Js %}
        <script>
            function payer() {


                offre = $('#offre').val();
                plan = $('#plan').val();


                if (plan == 0) {
                    $.confirm({
                        title: 'Ton coaching',
                        content: 'Merci de choisir au moins un type de coaching : entrainement ou nutrition',
                        buttons: {
                            alphabet: {
                                text: 'Fermer',
                                keys: ['a', 'b'],
                                action: function () {


                                }
                            }
                        }
                    });
                } else {
                    var formData = {
                        code_promo: $('#code_promo').val(),
                        offre: offre,
                        plan: plan,
                        id_coach: '{{ SelCoach }}',
                        id_user: '{{ Token }}',
                    };

                    $.ajax({
                        type: "POST",
                        url: '{{ url_api }}enregistrer_commande',
                        data: formData,
                        success: function (response) {

                            document.location.replace('{{ base_url_pay }}mobile/payer1?id=' + response);
                        }
                    });
                }

            }

            function charger_plan(id) {
                name_offre = '';
                if (id == 1) {

                    plan1 = $('#plan1').val();
                    if (plan1 == 0) {
                        $('#pplan1').addClass('active_plan');
                        $('#plan1').val('1');
                    } else {
                        $('#pplan1').removeClass('active_plan');
                        $('#plan1').val('0');

                    }
                } else if (id == 2) {

                    plan2 = $('#plan2').val();
                    if (plan2 == 0) {
                        $('#pplan2').addClass('active_plan');
                        $('#plan2').val('2');
                    } else {
                        $('#pplan2').removeClass('active_plan');
                        $('#plan2').val('0');
                    }
                }
                plan1 = $('#plan1').val();
                plan2 = $('#plan2').val();
                p = parseInt(plan1) + parseInt(plan2);
                $('#plan').val(p);

                charger_total();
                plan1 = $('#plan1').val();
                plan2 = $('#plan2').val();
                if (plan1 == 1) name_offre = 'sportif';
                if (name_offre == '') {
                    if (plan2 == 2) name_offre += 'nutriton';
                } else {
                    if (plan2 == 2) name_offre += '+nutriton';
                }
                $('#plans_name').html(name_offre);
            }


            function charger_total() {


                offre = $('#offre').val();
                plan = $('#plan').val();
                var formData = {
                    code_promo: $('#code_promo').val(),
                    offre: offre,
                    plan: plan,
                    id_coach: '{{ SelCoach }}',
                    id_user: '{{ Token }}',
                };

                $.ajax({
                    type: "POST",
                    url: '{{ url_api }}charger_total',
                    data: formData,
                    success: function (response) {

                        $('#totalm').html(response.total);
                        $('#total_mois').html(response.total_mois);
                        $('#total_jour').html(response.total_jour);
                    }
                });
            }

            function verifier_promo() {


                var formData = {
                    code_promo: $('#code_promo').val(),

                };

                $.ajax({
                    type: "POST",
                    url: '<?=url_api?>verifier_valid_promo',
                    data: formData,
                    success: function (response) {
                        if (response == '0') {
                            $('#error_promo').html('<span style="color:#f00"> code promo invalide</span>')
                        } else if (response == '1') {
                            $('#error_promo').html('<span style="color:#28a745"> code promo valide</span>')
                        }
                    }
                });
            }


            function charger_liste_coachs() {

                document.location.replace('{{ path('matching_ToutEstPossible_Calcul') }}'
            )
                ;

            }
        </script>
    {% endblock %}