{% extends 'matching/layoutCoach.twig' %}
{% block fullPage %}
    {%  set MonCoach=Coachs[SelCoach] %}
    {%  if Coachs|length >0 %}

        <div class="section notopborder nobg mt-1 mb-1 mt-lg-5" style="padding: 10px 0 10px;">
            <div class="container center clearfix">
                <h3>
                    {%  if SelCoach>0 %}
                        Voici
                        <strong>{{ MonCoach.pseudoadmin }}</strong>, le coach que tu as choisi pour t'accompagner dans l'atteinte de ton objectif!
                    {% else %}
                        Voici
                        <strong>{{ MonCoach.pseudoadmin }}</strong>, notre coach le plus adapté pour t'accompagner dans l'atteinte de ton objectif!
                    {% endif %}
                </h3>
            </div>

        </div>

        <div class="section nomargin noborder pt-4 pb-0 bgcolor dark" >
            <div class="container center clearfix">


                <div class="row">
                    <div class="col-4 col-lg-2">
                        <img class="img-fluid m-2 "   src="https://custom-coaching.fr/coach/upload/{{ MonCoach.photoadmin }}" />
                    </div>
                    <div class="col-8" >
                        <h2>{{ MonCoach.pseudoadmin }}</h2>
                        <span class="text-dark" >
                    {%  if MonCoach.profil.coach_sport+MonCoach.profil.coach_nutrition==2 %}
                        Coach et nutritionniste certifié
                    {% elseif MonCoach.profil.coach_sport==1 %}
                        Coach certifié
                    {% else %}
                        Nutritionniste certifié
                    {% endif %}
                    <br />
                    <strong>match avec tes objectifs à {{ MonCoach.SCORE |round(1, 'floor') }}% </strong>
                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="section notopborder nobg mt-1 mt-lg-5" style="padding: 10px 0 60px;">
            <div class="container  clearfix">
                <div class="row">
                    <div class="col-12 ml-3 mr-3">
                        <h2 class="text-success" >Ses spécialités</h2>
                        <p>
                            {% set Spes= MonCoach.specialiteadmin|split(',') %}
                            {%  for Spe in Spes %}
                                {% if Spe|length>1 %}
                                    <i class="icon-check-circle"></i>{{ Spe }}<br />
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {%  if MonCoach.urlvideo %}
                    <div class="row">
                        <div class="col-12  mt-5 ml-3 mr-3">
                            <h2 class="text-success" >Découvrez sa présentation</h2>
                            <div class="row">
                                <div class="col-12  mt-5 ml-3 mr-3">
                                <iframe width="100%" height="350" src="https://www.youtube.com/embed/{{ MonCoach.urlvideo }}" allowfullscreen style="border: 0;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 mt-5">
                        <h2 class="text-success" >Le mot du coach </h2>
                        {%  if  MonCoach.descriptifadmin|length>600 %}
                            <p id="minipres" >
                                {{ MonCoach.descriptifadmin|slice(0,600)|nl2br }}....
                                <br />
                                <a href="#full" id="readfull" class="button-small button">Lire la suite</a>
                            </p>
                            <p id="maxipres" class="hidden" >
                                <a name="full"></a>
                                {{  MonCoach.descriptifadmin|nl2br  }}

                            </p>


                        {% else %}
                            <p>
                                {{  MonCoach.descriptifadmin|nl2br  }}

                            </p>
                        {% endif %}
                    </div>

                    <div class="col-12 ">
                        <a href="{{ path('matching_ToutEstPossible_ValidationOffre') }}?idc={{ MonCoach.idAdmin }}&d=1&abo=3" class="btn m-2 btn-block rounded btn-lg btn-success">Choisir {{  MonCoach.pseudoadmin }}</a>
                    </div>


                </div>
            </div>
        </div>



        <div class="section notopborder nobg mt-1 mt-lg-5" style="padding: 10px 0 60px;">
            <div class="container  clearfix">
                <h1 class="text-success" >Les autres coachs que nous te suggéront</h1>

                <div class="row">
                    {% for Coach in Coachs %}
                        {%  if  not (Coach.idAdmin==MonCoach.idAdmin) %}
                            <div class="col-lg-2 col-3">
                                <img class="img-fluid img-thumbnail" src="https://custom-coaching.fr/coach/upload/{{ Coach.photoadmin }}" />
                            </div>
                            <div class="col-lg-6 col-6" >
                                <h2>{{ Coach.pseudoadmin }} </h2>
                                <strong>match avec tes objectifs <span class="text-success">{{ Coach.SCORE |round(1, 'floor') }}%</span></strong>

                            </div>
                            <div class="col-lg-2 col-3">
                                <a href="?cidc={{ Coach.idAdmin }}" class="btn btn-success">Voir</a>
                            </div>

                            <div class="col-12">
                                <hr />
                            </div>
                        {%  endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="section notopborder nobg mt-1 mt-lg-5" style="padding: 10px 0 60px;">
            <div class="container  clearfix">
                <hr />
                <div class="row">

                    <div class="col-12 text-center">
                    <h2 class="text-success" >Tu veux faire un autre choix ?</h2>
                    </div>
                <div class="col-12 col-md-6">
                <p>
                    Tu n'as pas saisi les bons critères ?
                <br/>
                <a class="button-small button button-dark" href="?RESET=1" >Réponds à nouveau au questionnaire</a>
                </p>
                </div>
                    <div class="col-12 col-md-6">
                    <p>
                    Tu connais déjà ton coach ?
                    <br/>
                    <a class="button-small button button-dark" href="{{ path('matching_ToutEstPossible_RechercherCoach') }}" >Rechercher mon coach</a>

                </p>
            </div>
            </div>

        </div>
        </div>

    {% else %}
        Actuellement aucun coach ne correspond à ton profil....
    {% endif %}


{% endblock %}
    {% block Js %}
        <script>
            $( "#readfull" ).click(function() {
                $( "#minipres" ).addClass('hidden');
                $( "#maxipres" ).removeClass('hidden');
            });
        </script>
    {% endblock %}
