{% extends 'matching/layoutLp.twig' %}
{% block titre %}Tout est possible.. Creation du compte{% endblock %}
{% block Content %}
<style>
                label{
                    min-width: 90px !important;
                    text-align: right;
                    margin-right: 10px;
                    }


                .buttonWrap{
                    cursor: pointer;
                    border: solid 2px transparent;
                }
                .buttonWrap:hover{
                    cursor: pointer;
                    border: solid 2px #FFFFFF;
                }
            </style>


    <div class="container center clearfix">

        <div class="content">

            <h2 class="thinner uppercase text-shadow" >Inscrivez-vous</h2>

            <p >

                <br>


            <div class="alert alert-danger" id="alert" role="alert" style="display: none;"{#<?php if($error_fb==0){?> style="display: none;" <?php } ?>#} >
            Identifiants incorrects
        </div>



        <div class="alert alert-success" id="success" style="display: none;">

        </div>




        <div class="form-group">
            <label style="" >Nom<span style="color:#f00;">*</span> :</label>
            <input class="contactField" name="text" type="text" id="nom" value="" required="" >
        </div>

        <div class="form-group">
            <label >Prénom<span style="color:#f00;">*</span> :</label>
            <input class="contactField" name="text" type="text" id="prenom" value="" required="" >
        </div>

        <div class="form-group">
            <label >Pseudo<span style="color:#f00;">*</span> :</label>
            <input class="contactField" name="text" type="text" id="pseudo" value="" required="" >
        </div>


        <div class="form-group">
            <label >Email<span style="color:#f00;">*</span> :</label>
            {{ mail }}
            <input class="contactField" name="text" type="hidden" id="email" value="{{ mail }}" required="" >
            {#

            #}
        </div>





        <div class="formSubmitButtonErrorsWrap contactFormButton">
            <input type="submit" class="buttonWrap button bg-blue-dark contactSubmitButton" value="Suivant" onClick="connexion()" />
        </div>

    </div>
{% endblock %}
{% block Js %}

 <script>
                function connexion(){
console.log("in");
                    $('#alert').hide();
                    $('#success').hide();

                    $('#nom').removeClass('has-error');
                    $('#prenom').removeClass('has-error');
                    $('#email').removeClass('has-error');
                    $('#pseudo').removeClass('has-error');


                    var formData = {
                        email:$('#email').val(),
                        nom:$('#nom').val(),
                        prenom:$('#prenom').val(),
                        pseudo:$('#pseudo').val(),
                    };

                    $.ajax({
                        type: "POST",
                        url: '{{ url_api }}inscription_etape1',
                        data: formData,
                        success: function(response)
                        {

                            if(response.st==1){
                                url='{{ path('matching_ToutEstPossible_Creation2') }}?token='+response.token;
                                document.location.replace(url);

                            }else{
                                $('#alert').html(response.msg);

                                $('#alert').show();
                                $.each(response.errors,function(key,val){

                                    $('#' + key).addClass('has-error');

                                });
                            }
                        }
                    });





                }


            </script>
{% endblock %}