{% extends 'matching/layoutLp.twig' %}
{% block titre %}Tout est possible.. Creation du compte{% endblock %}
{% block Content %}
<style>
                label{
                    min-width: 170px !important;
                    text-align: right;
                    margin-right: 10px;
                    }


                .buttonWrap{
                    cursor: pointer;
                    border: solid 2px transparent;
                }
                .buttonWrap:hover{
                    cursor: pointer;
                    border: solid 2px #FFFFFF;
                }
            </style>

    <div class="container center clearfix">

        <div class="content">

            <h2 class="thinner uppercase text-shadow" >Inscrivez-vous</h2>

            <p class="" >
                <strong ></strong>
                <br>


            <div class="alert alert-danger" id="alert" role="alert" style="display: none;"{#<?php if($error_fb==0){?> style="display: none;" <?php } ?>#} >
            Identifiants incorrects
        </div>



        <div class="alert alert-success" id="success" style="display: none;">

        </div>




       <div class="form-group">
    <label for="email" >Mot de passe<span style="color:#f00;">*</span> :</label>
    <input class="contactField" name="text" type="password" id="pass" value="" required="" >
  </div>

 <div class="form-group">
    <label for="email" >Confirmer <span style="color:#f00;">*</span> :</label>
    <input class="contactField" name="text" type="password" id="confirm_pass" value="" required="" >
  </div>
   <div class="form-group">
    <label for="email" >Date de naissance<span style="color:#f00;">*</span> :</label>
    <input class="contactField" readonly name="text" type="text" id="date_naissance" value="" required="" >
	</div>

   <div class="form-group" >
    <label for="email" >Sexe: <span style="color:#f00;">*</span></label>
   <input type="radio" name="sexe" value="homme" checked> Homme
    <input type="radio" name="sexe" value="femme"> Femme
  </div>
   <div class="form-group">
    <label for="email" >Téléphone :</label>
    <input class="contactField" name="text" type="text" id="telephone" value="" required="" >
  </div>


  	<div class="formSubmitButtonErrorsWrap contactFormButton">
				<input type="submit" class="buttonWrap button bg-blue-dark contactSubmitButton" value="Valider" onClick="inscription_etape2()" />
			</div>



        <fieldset>
            <style>
                .buttonWrap{
                    cursor: pointer;
                    border: solid 2px transparent;
                }
                .buttonWrap:hover{
                    cursor: pointer;
                    border: solid 2px #FFFFFF;
                }
            </style>

    </div>
{% endblock %}
{% block Js %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
                <script>
                (function($){
                $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "yyyy-mm-dd"
                };
                }(jQuery));



                $('#date_naissance').datepicker({
                language: 'fr',
					uiLibrary: 'bootstrap4',
					dateFormat: 'yyyy-mm-dd'

                })
                </script>


 <script>

function inscription_etape2(){
	sexe=$('input[name=sexe]:checked').val();

	 $('#alert').hide();
	$('#success').hide();

	$('#pass').removeClass('has-error');
	$('#confirm_pass').removeClass('has-error');
    $('#date_naissance').removeClass('has-error');
	$('#sexe').removeClass('has-error');
	$('#telephone').removeClass('has-error');

	 var formData = {
	pass:$('#pass').val(),
	confirm_pass:$('#confirm_pass').val(),
	date_naissance:$('#date_naissance').val(),
	sexe:sexe,
	telephone:$('#telephone').val(),
	token:'{{ token }}',
	validate_email:1,
	 };

	 id_user:'{{ idUser }}',

		$.ajax({
            type: "POST",
            url: '{{ url_api }}inscription_etape2',
            data: formData,
            success: function(response)
            {
                if(response.st==1){
				   url='{{ path('url_ToutEstPossible1_StartMatching') }}?token='+response.token;
				  document.location.replace(url);
			    }else{
				 $('#alert').html(response.msg);

				   $('#alert').show();
				  $.each(response.errors,function(key,val){

                    $('#' + key).addClass('has-error');

                });
			   }
           }
       });
}
 </script>

{% endblock %}