{% extends 'matching/layout.twig' %}
{% block titre %}Ton pack offert par Laurent Marchand est activé{% endblock %}
{% block titre_span %}{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-md-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="col-12">
                <h3>Installe l'application et connecte toi</h3>
                <p>
                    Tu aura un long formulaireà remplir pour que ton coach te prépare ton entrainement.
                </p>

            </div>
<div class="col-12" >
    <a href="https://itunes.apple.com/fr/app/custom-coaching/id1300679390?mt=8"
       class="button button-rounded button-black" target="_blank">
        <i class="icon-app-store-ios"></i>
        Download for Apple iOS
    </a>
    <a href="https://play.google.com/store/apps/details?id=fr.cmrp.customcoaching" target="_blank"
            class="button button-rounded button-black">
        <i class="icon-android"></i>
        Download for Android
    </a>
</div>
        </div>
    </div>
{% endblock %}
{% block Js %}
    <script>
    </script>
{% endblock %}