{% extends 'matching/layoutLp.twig' %}
{% block titre %}Tout est possible.. avec Custom Coaching{% endblock %}
{% block Content %}
    <div class="container center clearfix">


        {% set ColClass %}col-12 col-xl-6 {% endset %}
        {% set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="col-12">
                <a id="lancer" class="button button-3d button-small button-rounded button-green" href="#vue"><i
                            class="icon-play1"></i>Lancer la vidéo</a>

                <a name="vue"> </a>

                <div class="video-wrapper embed-responsive embed-responsive-4by3">
                    <video autoplay=""  src="/images/ToutEstP.mp4" id="video"
                           style="position:absolute; top:0; left:0; width:100%; height:100%"></video>
                </div>
            </div>


            <div class="col-12 mt-4">
                <a href="?choix=commencer" class="{{ BouttonClass }}"><i class="icon-play1"></i>Commencer</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block Js %}

    <script>
        let videoElem = document.getElementById("video");

        $("#lancer").click(function () {
            fonctionJouer();
        });

        setTimeout(fonctionJouer, 1000);

        async function fonctionJouer() {
            try {
                await videoElem.play();
            } catch (err) {
            }
        }
    </script>{% endblock %}