{% extends 'matching/layoutCoach.twig' %}
{% block fullPage %}

    <div class="section nomargin noborder pt-4 pb-0 ">
        <div class="container center clearfix">


            <div class="row">
                <div class="col-12">
                    <h1>Rechercher un Coach</h1>

                    <div class="form-result"></div>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
                    <div class="form-process"></div>

                    <div class="col_full">
                        <label for="template-contactform-name">Nom
                            <small>*</small>
                        </label>
                        {{ form_widget(form.name,{'attr': {'class': 'sm-form-control required','style':'background-color: #FFF','placeholder':'Nom ou pseudo du coach'}}) }}
                    </div>


                    <div class="col_full">
                        {{ form_widget(form.submit,{'attr': {'class': 'button button-3d nomargin'}}) }}
                    </div>

                    <input type="hidden" name="prefix" value="template-contactform-">

                    {{ form_end(form) }}

                    {%  if Recherche=='1' and Coachs|length==0 %}
                        <br />
                        <h1 class="text-dark">Auncun coach ne corresponds à ta recherche</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {% if Coachs %}

    <div class="section notopborder nobg mt-1 mt-lg-5" style="padding: 10px 0 60px;">
        <div class="container  clearfix">
            <div class="row">
                {% for Coach in Coachs %}
                        <div class="col-lg-2 col-3">
                            <img class="img-fluid img-thumbnail"
                                 src="https://custom-coaching.fr/coach/upload/{{ Coach.photoadmin }}"/>
                        </div>
                        <div class="col-lg-6 col-6">
                            <h2>{{ Coach.pseudoadmin }} </h2>

                            <p >
                                {{ Coach.descriptifadmin|slice(0,300)|nl2br }}....

                            </p>

                        </div>
                        <div class="col-lg-2 col-3">
                            <a href="{{ path('matching_ToutEstPossible_ValidationOffre') }}?idc={{ Coach.idAdmin }}&d=1&abo=3" class="btn btn-success">Choisir</a>
                        </div>

                        <div class="col-12">
                            <hr/>
                        </div>
                {% endfor %}

            </div>
        {%  if Coachs|length==5 %}
            <h1 class="text-dark">Seul 5 coachs correpondant à ta recherche s'affichent...</h1>
        {% endif %}

        </div>
    </div>
{% endif %}


{% endblock %}
    {% block Js %}
        <script>
            $("#readfull").click(function () {
                $("#minipres").addClass('hidden');
                $("#maxipres").removeClass('hidden');
            });
        </script>
    {% endblock %}
