{% extends 'matching/layout.twig' %}
{% block titre %}Ton pack offert par Laurent Marchand est activé{% endblock %}
{% block titre_span %}{% endblock %}
{% block Content %}
    <div class="container center clearfix">
        {%  set ColClass %}col-12 col-md-6 {% endset %}
        {%  set BouttonClass %}button button-3d button-xlarge btn-block button-rounded button-green{% endset %}
        <div class="row">
            <div class="col-12">
                <h3>Tu va être redirigé vers l'interface de paiement</h3>
                <p>

                </p>

            </div>
        </div>
    </div>
{% endblock %}
{% block Js %}
    <script>

        $(function () {
            function payer_privilege(){
                    var formData = {
                        code_promo:'',
                        offre:'1',
                        plan:3,
                        id_coach:'{{ IdCoach }}',
                        id_user:'{{ User.token_clt }}',
                        date_fin:'{{ date_fin }}',
                        alias:'',
                        prix_plan:'50.00',
                        id_abonnement:'{{ id_utilisateur_abonnement }}',
                        ne_pas_reconduire:'1',
                    };

                    $.ajax({
                        type: "POST",
                        url: '{{ url_api }}enregistrer_poursuivre_commande',
                        data: formData,
                        success: function(response)
                            {
                            document.location.replace('{{ base_url_pay }}mobile/payer1?id='+response);

                            }
                    });
                }
            window.setTimeout(function() {
                payer_privilege();
            }, 4000);

        });

    </script>
{% endblock %}